.App {
  text-align: center;
  margin: 45px 0;
  color: grey;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  font-weight: bolder;
  padding-top: 20px;
  padding-bottom: 15px;
}

.App footer {
  margin-top: 20px;
}
