.App {
  background-color: white;
  background-image: url("Background-vertical.png");
  background-position: bottom 0px right 100px;
  background-repeat: no-repeat;
  background-size: 70%;
  min-height: 100%;
  min-width: 1024px;
}

.App .container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 8vh;
  font-family: "Patrick Hand", cursive;
  font-weight: bolder;
  padding-top: 20px;
  padding-bottom: 15px;
}

.App footer {
  padding-top: 50px;
  padding-bottom: 15px;
  color: grey;
}
